<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>editarPerfil</servlet-name>
        <jsp-file>/editar_perfil.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editarPerfil</servlet-name>
        <url-pattern>/editarPerfil</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>verPerfil</servlet-name>
        <jsp-file>/perfilPessoa.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>verPerfil</servlet-name>
        <url-pattern>/verPerfil</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>FilterLoggedPages</filter-name>
        <filter-class>br.edu.ifpb.bdnc.sorority.filter.FilterLoggedPages</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLoggedPages</filter-name>
        <servlet-name>index</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterLoggedPages</filter-name>
        <servlet-name>home</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
<!--    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>-->
</web-app>
